.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 80%;
    background-color: #efcb68;
    border-radius: 25px;
}

.my-row {
    height: 100%;
    width: 100%;
    margin: 0;
}

.my-col-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.account-item {
    margin: 0;
}

.my-btn {
    background-color: #aeb7b3;
}

#user-pfp {
    border-radius: 50%;
    width: 100%;
    transform: scale(0.8);
}

#username {
    font-size: 30px;
    font-weight: bold;
}
